header,
nav,
footer {
	padding: 10px;
	margin: 0;
}

body {
	background-color: #CCCCCC;
	font-family: Verdana, Geneva, Sans-serif;
}

header {
	text-align: center;
	padding: 0 0;
}

header img {
	width: 100%;
    margin: 0 0;
    padding: 0 0;

}

#wrap {
	width: 52%;
	margin: 0 auto;
}

nav{
	text-align: center;
	margin: 0;
	background-color: #0EC8C7;
}

nav ul {
	padding: 0;
   
}

nav li {
    font-family: 'Permanent Marker', cursive;
	display: inline;
	padding: 20px 5%;
}

nav li a:hover {
    font-family: 'Permanent Marker', cursive;
	text-decoration: none;
	color: white;
}

nav li:hover {
	background-color: #EC3632;
}

section {
    
    font-family: 'Permanent Marker', cursive;
	overflow: auto;
	background-color: #EC3632;
}

section aside {
	text-align: center;
	float: left;
	width: 20%;
	background-color: #EC3632;
}

section aside ul {
	padding: 0;
	margin: 20px auto;
}

section aside li {
	display: block;
	padding: 10px 1%;  
}

section aside li a {
	text-decoration: none;
	color: white;
    font-size: 22px;
}

section aside li:hover {
	background-color: #0EC8C7;
}

section article {
	float: right;
	width: 80%;
	background-color: white;
	overflow: auto;
}
section article p {
    margin: 3% 2%;
	font-size: 15px;
    font-family:cursive;
}
section article h1 {
    margin: 1%;
	font-size: 15px;
    font-family: 'Permanent Marker', cursive;
}

section article img {
	float: right;
	margin: 1%;
	border: 5px solid #EC3632;
}

footer {
	background-color: #0EC8C7;
	font-size: 11px;
	text-align: center;
}

.buy {
	width: 20%;
	float: right;
	margin: 0 0 10px 10px;
	display: inline;
}

@media screen and (max-width: 1680px) {
	#wrap {
    	width: 85%;
	}
}

@media screen and (max-width: 1048px) {
	#wrap {
    	width: 100%;
	}

	nav ul li {
    	display: block;
	}

	section aside {
    	float: left;
    	width: 22.4%;
	}
}
.blist {
    font-family: 'Permanent Marker', cursive;
}
footer div ul{
    padding:0px;
        
}
footer li{
    display: inline;
    padding: 10px 2%;
}

footer li:hover {
    padding border: 5px;
    background-color: #EC3632;}

 footer li a{
    padding 0 10px
}
