@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
    background-color: #7d562c;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color:white;
}

header img {
    width: 100%;
}

header {
    padding: 10px;
    background-color: white;
}

nav {
    background-color: #027c3f;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    font-family: Verdana, sans-serif;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 120%;
}

nav a:hover {
    background color: green;
    color: red;
}

nav li {
    display: inline;
}

nav ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 1% 4%;
    overflow: auto;
}

section h1,
section h2 {
    color: black;
   font-family: 'Alfa Slab One', cursive;
    font-size: 180%;
    text-align: center;
}

section h2 {
    color: #0b3d91;
    font-size: 140%;
}

.left {
    width: 50%;
    float: left;
}
.right {
    width: 45%;
    float: right;
}

footer {
    background-color: #027c3f;
    color: black;
    padding: 15px;
    text-align: center;

}

.logo {
    width: 35%;
    float: right;
}
